body {
    background-color: azure;

}

table {
    border: solid 2px green;
    margin: auto;
    background-color: gray;
    color: yellow;
}

h1 {
    margin: auto;
    background-color: gray;
}

td {
    border: solid 1px red;
}